@{
    Page.Title = "Convert VB.NET to/from C# online";
    Page.Keywords = "convert, c#, csharp, cs, VB, VB.NET, Visual Basic,code converter, csharp to vb, vb to csharp, c#, vb.net, vb, convert,free, Roslyn, code, converter, tool, conversion, file, class, module, refactoring, open source, oss";
    Page.Description = "Completely free and open source code converter. Convert snippets online, or download the Visual Studio Extension to convert whole projects/solutions and increase conversion accuracy.";
}

<script src="~/Scripts/angular.min.js"></script>

<div class="row">
    <div class="col-md-8">
        <h1>Convert Code (C#, VB.NET)</h1>
        <div ng-app="ccApp" ng-controller="ccController">

            <div class="form-group">
                <label>Input code</label>
                <textarea class="form-control" ng-model="inputCode" rows="10" style="min-width: 100%"></textarea>
            </div>
            <div class="form-group">
                <label>
                    <input type="radio" ng-model="requestedConversion" value="cs2vbnet">
                    C# to VB.NET
                </label>
                <label>
                    <input type="radio" ng-model="requestedConversion" value="vbnet2cs">
                    VB.NET to C#
                </label>
                &nbsp;
                <button class="btn btn-default" ng-click="convert()">Convert Code</button>
                <div class="spinner" ng-show="converterCallInflight"></div>
            </div>
            <div class="form-group">
                <label>Converted code</label>
                <textarea class="form-control" ng-model="convertedCode" rows="10" style="min-width: 100%"></textarea>
            </div>

            <p ng-show="showErrors" style="white-space: pre-wrap">Error message:<br />{{errorMessageOnResponse}}</p>
        </div>
    </div>
</div>

<script>
    var app = angular.module('ccApp', []);

    app.controller('ccController', function ($scope, $http) {
        $scope.inputCode = "public class Test {}";
        $scope.convertedCode = "";
        $scope.requestedConversion = "cs2vbnet";
        $scope.errorMessageOnResponse = "";
        $scope.showErrors = false;
        $scope.converterCallInflight = false;

        $scope.convert = function () {
            $scope.converterCallInflight = true;
            $scope.convertedCode = "";
            $scope.errorMessageOnResponse = "";
            $scope.showErrors = false;

            var data = JSON.stringify({ code: $scope.inputCode, requestedConversion: $scope.requestedConversion });

            $http.post('/api/converter/', data)
                .then(function successCallback(response) {
                    $scope.converterCallInflight = false;
                    $scope.convertedCode = response.data.convertedCode;

                    if (!response.data.conversionOk) {
                        $scope.showErrors = true;
                        $scope.errorMessageOnResponse = response.data.errorMessage;
                    }
                }, function errorCallback(response) {
                    $scope.converterCallInflight = false;
                    $scope.showErrors = true;
                    $scope.errorMessageOnResponse = "Call to the server backend failed";
                });
        };
    });
</script>
