html, body {
	font-family: Metric,Arial,Gadget,sans-serif;
	height: 100%;
}

body {
	background: #F3F5F7;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

/* Carousel */
.carousel-caption {
	z-index: 10 !important;
}

	.carousel-caption p {
		font-size: 20px;
		line-height: 1.4;
	}

@media (min-width: 768px) {
	.carousel-caption {
		z-index: 10 !important;
	}
}

/* http://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinner {
	to {
		-webkit-transform: rotate(360deg);
	}
}

.spinner:before {
	content: 'Loading…';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-top: -10px;
	margin-left: -10px;
}

.spinner:not(:required):before {
	content: '';
	border-radius: 50%;
	border-top: 2px solid #03ade0;
	border-right: 2px solid transparent;
	animation: spinner .6s linear infinite;
	-webkit-animation: spinner .6s linear infinite;
}

.btn-circle {
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 13px 15px;
	border-radius: 50%;
}

.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.flex-50 {
	flex: 50%;
}

.float-right {
	float: right;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.has-error .code-buttons {
	background: #f2dede;
}

.code-buttons {
	position: absolute;
	background: white;
	top: 3px;
	left: 16px;
	right: 32px;
	padding-bottom: 5px;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
	height: 34px;
}

.btn-code {
	text-transform: uppercase;
	font-size: smaller;
	padding-top: 3px;
	padding-bottom: 1px;
}

.px-2 {
	padding-left: 15px;
	padding-right: 15px;
}

.px-3 {
	padding-left: 25px;
	padding-right: 25px;
}

.py-1 {
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}

.py-2 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.py-3 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.pl-2 {
	padding-left: 15px;
}

.pl-1 {
	padding-left: 2px;
}

.pr-2 {
	padding-right: 15px;
}

.p-2 {
	padding: 15px;
}

.pb-1 {
	padding-bottom: 2px;
}

.pt-1 {
	padding-top: 2px;
}

.pt-3 {
	padding-top: 30px;
}

.mb-2 {
	margin-bottom: 15px;
}

.pr-1 {
	padding-right: 2px;
}

.pt-5 {
	padding-top: 34px;
}

.has-error .form-control {
	background-color: #f2dede;
}

.form-control {
	border-radius: 0;
}

.btn {
	transition-property: background-color,color;
	transition-duration: .2s;
	transition-timing-function: ease;
	border-radius: 2px;
	text-align: center;
}

.text-accent {
	color: #ee5315;
}

.btn-accent {
	padding: 7px 30px;
	line-height: 1.2;
	font-size: 19px;
	color: #fff;
	background-color: #ee5315;
	border-color: #ee5315;
	padding: 7px 30px;
	line-height: 1.2;
	font-size: 19px;
}

	.btn-accent:focus,
	.btn-accent.focus {
		color: #fff;
		background-color: #c43f0d;
		border-color: #c43f0d;
		outline: none;
	}

	.btn-accent:hover {
		color: #fff;
		background-color: #c43f0d;
		border-color: #c43f0d;
	}

.btn-primary {
	color: #fff;
	background-color: #2977db;
	border-color: #2977db;
}

	.btn-primary:focus,
	.btn-primary.focus {
		background-color: #1d5eb2;
		border-color: #1d5eb2;
	}

	.btn-primary:hover {
		background-color: #1d5eb2;
		border-color: #1d5eb2;
	}


.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
}

.btn-accent, .btn-primary, .btn-default {
	border-radius: 1px;
}

.btn-circle {
	border-radius: 50%;
}

textarea.form-control[disabled] {
	cursor: text;
	background: white;
}

textarea, div.form-control .content {
	font-family: Courier,Serif;
	resize: none;
	white-space: pre-wrap;
	cursor: text;
}

textarea, div.form-control {
	min-height: 500px;
}

div.form-control {
	overflow: auto;
}

.font-size-l {
	font-size: large;
}

.font-size-s {
	font-size: smaller;
}

.text-white {
	color: white !important;
}

	.text-white:hover {
		color: inherit !important;
	}


.mt-3 {
	margin-top: 25px !important;
} 

.mt-5 {
	margin-top: 40px;
}

.h-50 {
	height: 50%;
}

.navbar-brand {
	height: inherit;
}

	.navbar-brand img {
		width: 320px;
	}

.navbar {
	background: #2a2d33;
	border-radius: 0;
	min-height: inherit;
}

.font-weight-bold {
	font-weight: bold;
}

@media (min-width: 768px) {
	.navbar-brand img {
		width: 450px;
	}
}

@media (min-width: 992px) {
	.pl-md-1 {
		padding-left: 2px;
	}

	.pr-md-1 {
		padding-right: 2px;
	}

	.py-md-2 {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.code-buttons {
		top: 16px;
		left: 3px;
	}

	.text-md-right {
		text-align: right;
	}

	.mt-md-0 {
		margin-top: 0 !important;
	}
}

@media (min-width: 1200px) {
}

.navbar {
	margin-bottom: 0;
}

.code-buttons-left {
	left: 16px;
	top: 16px;
	right: 16px;
}

.d-none {
	display: none;
}

.flex-column {
	flex-direction: column;
}

.flex-100 {
	flex: 1;
}

footer {
	background: #2a2d33;
	color: #9d9d9d;
}

	footer a {
		color: #7d7d7d;
		font-weight: bold;
	}

		footer a:hover {
			color: #646464;
		}

a:hover {
	text-decoration: none;
}

.navbar {
	border: 0;
}

.logo-footer {
	width: 162px;
	height: 24px;
}

.footer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

	.footer-list > li {
		display: inline-block;
		margin-left: 5px;
		padding-left: 5px;
		border-left: 1px solid #ccc;
	}

		.footer-list > li:first-child {
			border-left: none;
		}

		.footer-list > li > a {
			margin-left: 5px;
			margin-right: 4px;
		}

		.footer-list > li:last-child > a {
			margin-right: 0;
		}

.m-0 {
	margin: 0;
}

.mb-1 {
	margin-bottom: 7.5px;
}

.alert {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -24px;
	margin-top: -10px;
}
