name: Build CodeConverter

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
 
jobs:
 build:
    runs-on: windows-latest
    env:
      BuildVersion: '8.4.1'
      BuildPlatform: Any CPU
      BuildTarget: Release

    steps:
    - uses: actions/checkout@v2

    - name: Update project version
      uses: roryprimrose/set-vs-sdk-project-version@v1
      with:
        projectFilter: 'Directory.Build.props'
        version: ${{ env.BuildVersion }}.${{ github.run_number }}
        assemblyVersion: ${{ env.BuildVersion }}.${{ github.run_number }}
        fileVersion: ${{ env.BuildVersion }}.${{ github.run_number }}

    - name: Setup .NET for main build
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
      with:
       vs-version: '[16.6,)'

    - name: Build Solution
      run: dotnet build CodeConverter.sln -restore /p:Configuration=$env:BuildTarget

    - name: Execute unit tests
      run: dotnet test $env:Tests1
      env:
        Tests1: Tests/bin/${{ env.BuildTarget }}/ICSharpCode.CodeConverter.Tests.dll

    - name: Publish Web
      run: dotnet publish Web/Web.csproj /p:Configuration=$env:BuildTarget /p:Platform=$env:BuildPlatform
    - name: Publish Function
      run: dotnet publish Func/Func.csproj /p:Configuration=$env:BuildTarget /p:Platform=$env:BuildPlatform

    - name: Pack NuGet
      run:  dotnet pack CodeConverter/CodeConverter.csproj -c $env:BuildTarget
    - name: Pack Tool
      run:  dotnet pack CommandLine/CodeConv/CodeConv.csproj -c $env:BuildTarget

    - name: Upload NuGet package
      uses: actions/upload-artifact@v2
      with:
        name: ICSharpCode.CodeConverter.${{ env.BuildVersion }}.nupkg
        path: CodeConverter/bin/${{ env.BuildTarget }}/ICSharpCode.CodeConverter.*.nupkg
    - name: Upload VSIX
      uses: actions/upload-artifact@v2
      with:
        name: ICSharpCode.CodeConverter.VsExtension.${{ env.BuildVersion }}.vsix
        path: Vsix/bin/${{ env.BuildTarget }}/ICSharpCode.CodeConverter.VsExtension.vsix
    - name: Upload Tool
      uses: actions/upload-artifact@v2
      with:
        name: ICSharpCode.CodeConverter.CodeConv.${{ env.BuildVersion }}.nupkg
        path: CommandLine/CodeConv/bin/${{ env.BuildTarget }}/ICSharpCode.CodeConverter.CodeConv.*.nupkg
    - name: Upload Web
      uses: actions/upload-artifact@v2
      with:
        name: ICSharpCode.CodeConverter.Web.${{ env.BuildVersion }}.zip
        path: Web/bin/${{ env.BuildTarget }}/publish/
    - name: Upload Function
      uses: actions/upload-artifact@v2
      with:
        name: ICSharpCode.CodeConverter.Func.${{ env.BuildVersion }}.zip
        path: Func/bin/${{ env.BuildTarget }}/publish/
